<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hospital_ms" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/lpgsafety"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hospital_ms" >
        <activity
            android:name=".AdminAllUsers"
            android:exported="false" />
        <activity
            android:name=".MyPrescriptions"
            android:exported="false" />
        <activity
            android:name=".AdminAddApp"
            android:exported="false" />
        <activity
            android:name=".AdminAddPres"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".AdminAppointments"
            android:exported="false" />
        <activity
            android:name=".MyAppointments"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BookActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>